.container1
{
background-color: rgb(65, 164, 164);
height: 90% !important;
text-align: center;
}
.col1{
  background-color: antiquewhite;
}
.col2{
  background-color: rgb(106, 77, 39);
  width: 45%;
}
.images{
  width: 100%;
  height: 100%;
}